name: Node.js CI Pipeline

on: 
  push:
    branches: [ "master" ]
  pull_request: 
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      metrix:
        node-version: [18.x]

    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js ${{ metrix.node-version }}
        uses: actions/setup-node@v4
        with: 
          node-version: ${{ metrix.node-version }}
          cache: 'npm'

      - name: install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run tests
        run: npm test